.Heading {
  &__Intro {
    padding: 0 0 var(--section-content-margin-vertical-mobile) 0;
    width: 100%;

    .pre {
      color: #474747;
      font-size: 24px;
      width: 100%;
      font-weight: 500;
    }
  }

  &__Text {
    font-size: var(--font-size-h4);
    width: 100%;
    text-align: center;
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-heading);
    margin-bottom: 2rem;
  }

  &__Description {
    font-size: var(--font-size-p-mid);
    color: #afaeae;
    line-height: 1.5;
    max-width: 500px;
  }
}

// @media screen and (max-width: 768px) {
//   .Heading {
//     // &__Intro {
//     //   padding: 0;
//     // }

//     // &__Description {
//     //   margin-bottom: var(--section-content-margin-vertical-mobile);
//     // }

//     // &__Text {
//     //   margin-bottom: 1rem;
//     // }
//   }
// }
