.Featured {
  margin: 0 auto;
  max-width: 1500px;
  padding: 0 10rem;
  height: 100%;
  width: 100%;
  margin-bottom: 2rem;

  @media screen and (max-width: 768px) {
    padding: 1rem;
  }

  @media screen and (max-width: 992px) {
    padding: 1rem;
  }
}
