:root {
  /* BREAKPOINTS */
  --breakpoint-mobile: 30rem;
  --breakpoint-tablet: 60rem;

  /* CONTENT MAX WIDTH */
  --content-max-width: 186rem;

  /* NAV HEADER HEIGHT */
  --nav-header-height: 10rem;

  /* BORDER RADIUS */
  --border-radius-small: 0.5rem;
  --border-radius-large: 1rem;

  /* SECTION MARGIN - LEFT, RIGHT */
  --section-margin-horizontal-desktop: 10rem;
  --section-margin-horizontal-tablet: 4rem;
  --section-margin-horizontal-mobile: 2rem;
  --section-margin-horizontal: var(--section-margin-horizontal-desktop);

  /* SECTION MARGIN - TOP, BOTTOM */
  --section-margin-vertical-desktop: 10rem;
  --section-margin-vertical-tablet: 5rem;
  --section-margin-vertical-mobile: 5rem;
  --section-margin-vertical: var(--section-margin-vertical-desktop);

  /* SECTION CONTENT MARGIN - TOP, BOTTOM */
  --section-content-margin-vertical-desktop: 8rem;
  --section-content-margin-vertical-tablet: 4rem;
  --section-content-margin-vertical-mobile: 4rem;
  --section-content-margin-vertical: var(
    --section-content-margin-vertical-desktop
  );

  /* GAP GRID */
  --grid-gap--desktop: 4rem;
  --grid-gap--mobile: 3rem;
  --grid-gap: var(--gap-grid--desktop);

  /* COLORS - THEME */
  --color-primary: #61a653;
  --color-primary-light: #76b469;
  --color-primary-dark: #569249;
  --color-nav-links: #bebebe;

  --color-secondary: #2a3c3b;
  --color-secondary-light: #34514f;
  --color-secondary-dark: #233332;

  --color-primary-white: #f9f9f9;
  --color-secondary-white: #cecece;

  --color-primary-black: #070707;
  --color-secondary-black: #1c1c1c;

  --color-secondary-yellow: #e9e985;

  --color-error: #b14848;
  --color-error-light: #bb5858;
  --color-error-dark: #9f4141;

  --color-disabled: #505454;
  --color-disabled-dark: #4b4b4b;

  --color-focus-outline: var(--color-secondary-yellow);
  --color-warning: var(--color-secondary-yellow);

  /* COLORS - BACKGROUND */
  --color-background: #081112;
  --color-background-light: #182224;
  --color-background-dark: #050b0b;
  --color-highlights: #172b29;

  /* COLORS - TEXT */
  --color-text-primary: var(--color-primary-white);
  --color-text-secondary: var(--color-secondary-white);
  --color-text-disabled: var(--color-secondary-white);
  --color-text-dark: var(--color-secondary-black);
  --color-text-highlight: var(--color-primary);
  --color-text-tertiary: #6c7a79;
  --color-text-placeholder: #589d97;
  --color-warning: var(--color-secondary-yellow);

  /* FONT - SIZE */
  --font-size-h1-large: 12rem;
  --font-size-h1: 9rem;
  --font-size-h2: 7rem;
  --font-size-h3: 5rem;
  --font-size-h4: 4.5rem;
  --font-size-h5: 4rem;
  --font-size-p-xlarge: 3.5rem;
  --font-size-p-large: 3rem;
  --font-size-p-mid: 2.5rem;
  --font-size-p-small: 2rem;
  --font-size-p-xsmall: 1.8rem;

  /* FONT - WEIGHT */
  --font-weight-ultralight: 100;
  --font-weight-thin: 300;
  --font-weight-light: lighter;
  --font-weight-normal: normal;
  --font-weight-semibold: 700;
  --font-weight-bold: bold;
  --font-weight-heavy: bolder;
  --font-weight-black: 900;

  /* OUTLINE STYLE */
  --outline-style-focus: 1px var(--color-focus-outline) solid;

  /* BORDER STYLE */
  --border-primary: 1px var(--color-primary) solid;
  --border-secondary: 1px var(--color-secondary) solid;

  /* BOX SHADOW */
  --box-shadow-small: 0 1 2 -1 rgba(0, 0, 0, 0.25);
  --box-shadow-medium: 0 6 4 -4 rgba(0, 0, 0, 0.25);
  --box-shadow-large: -4 8 8 -4 rgba(0, 0, 0, 0.25);
}

html {
  font-size: 8px;
  line-height: normal;
  font-family: "Aileron", sans-serif;
  font-weight: var(--font-weight-normal);
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
}

i {
  font-style: normal;
}

* {
  /* stops ability to select text unless specified */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  user-select: none;
  max-width: 100%;
  /* stops blue box on touch event elements */
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  box-sizing: border-box;
}

p,
input,
textarea {
  -webkit-user-select: text; /* Chrome/Safari/Opera */
  user-select: text;
  cursor: text;
}

/* SCROLLBAR */

* {
  scrollbar-width: auto;
  scrollbar-color: var(--color-background-dark);
}

*::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  border-radius: 16px;
}

*::-webkit-scrollbar-track:vertical {
  border: 1px solid var(--color-secondary-dark);
  border-left: 1px solid var(--color-secondary-dark);
  background-color: #1d1c1c;
}

*::-webkit-scrollbar-track:horizontal {
  border-top: 1px solid var(--color-secondary-dark);
  border-bottom: 1px solid var(--color-secondary-dark);
  background-color: var(--color-primary-white);
}

*::-webkit-scrollbar-thumb {
  border: 4px solid transparent;
  border-radius: 16px;
  background-color: var(--color-primary-white);
  background-clip: content-box;
  transition: background-color 2s ease-in-out;
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--color-primary-dark);
}

*::-webkit-scrollbar-corner {
  background-color: var(--color-secondary-light);
  border-bottom: 1px solid var(--color-secondary-dark);
  border-right: 1px solid var(--color-secondary-dark);
}

textarea {
  resize: none;
}

/* TABLET */
.Tablet {
  /* SECTION MARGIN - LEFT, RIGHT */
  --section-margin-horizontal: var(--section-margin-horizontal-tablet);

  /* SECTION MARGIN - TOP, BOTTOM */
  --section-margin-vertical: var(--section-margin-vertical-tablet);

  /* SECTION CONTENT MARGIN - TOP, BOTTOM */
  --section-content-margin-vertical: var(
    --section-content-margin-vertical-tablet
  );

  /* FONT - SIZE */
  --font-size-h1: 7rem;
  --font-size-h2: 6rem;
  --font-size-h3: 4.5rem;
  --font-size-h4: 4rem;
  --font-size-h5: 3rem;
  --font-size-p-xlarge: 2.5rem;
  --font-size-p-large: 2.5rem;
  --font-size-p-mid: 2rem;
}

/* MOBILE */
.Mobile {
  /* GAP GRID */
  --gap-grid: var(--gap-grid--mobile);

  /* SECTION MARGIN - LEFT, RIGHT */
  --section-margin-horizontal: var(--section-margin-horizontal-mobile);

  /* SECTION MARGIN - TOP, BOTTOM */
  --section-margin-vertical: var(--section-margin-vertical-mobile);

  /* SECTION CONTENT MARGIN - TOP, BOTTOM */
  --section-content-margin-vertical: var(
    --section-content-margin-vertical-mobile
  );

  /* FONT - SIZE */
  --font-size-h1: 5.5rem;
  --font-size-h2: 4.5rem;
  --font-size-h3: 3.5rem;
  --font-size-h4: 3.5rem;
  --font-size-h5: 3rem;
  --font-size-p-xlarge: 2.5rem;
  --font-size-p-large: 2.5rem;
  --font-size-p-mid: 2rem;
}
