.dashboard {
  display: flex;
  flex-direction: column;
  margin-top: 4.5rem;
}

.contentWrapper {
  padding: 2rem;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 1rem;
}
