.Icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.Icon--xsmall {
  height: var(--font-size-p-xsmall);
  width: var(--font-size-p-xsmall);
  font-size: var(--font-size-p-xsmall);
}

.Icon--small {
  height: var(--font-size-p-small);
  width: var(--font-size-p-small);
  font-size: var(--font-size-p-small);
}

.Icon--medium {
  height: var(--font-size-p-mid);
  width: var(--font-size-p-mid);
  font-size: var(--font-size-p-mid);
}

.Icon--large {
  height: var(--font-size-p-large);
  width: var(--font-size-p-large);
  font-size: var(--font-size-p-large);
}

.Icon--xlarge {
  height: var(--font-size-p-xlarge);
  width: var(--font-size-p-xlarge);
  font-size: var(--font-size-p-xlarge);
}

/* Icon Color */
.Icon--primary,
.Icon--primaryHover:hover {
  color: var(--color-text-primary);
}

.Icon--secondary,
.Icon--secondaryHover:hover {
  color: var(--color-text-secondary);
}

.Icon--tertiary,
.Icon--tertiaryHover:hover {
  color: var(--color-text-tertiary);
}

.Icon--transparent,
.Icon--transparentHover:hover {
  color: var(--color-text-transparent);
  background-color: transparent;

  width: 48px;
  height: 48px;
  border-radius: 50%;
  color: #333;
  background-color: aliceblue;
}

.Icon--disabled,
.Icon--disabledHover:hover {
  color: var(--color-text-disabled);
}

.Icon--dark,
.Icon--darkHover:hover {
  color: var(--color-text-dark);
}

.Icon--highlight,
.Icon--highlightHover:hover {
  color: var(--color-text-highlight);
}

.Icon--placeholder,
.Icon--placeholderHover:hover {
  color: var(--color-text-placeholder);
}

.Icon--warning,
.Icon--warningHover:hover {
  color: var(--color-warning);
}

.Icon--error,
.Icon--errorHover:hover {
  color: var(--color-error);
}
